tbody td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody tr {
  background-color: white;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  box-sizing: border-box;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.05);
  font-family: var(--font-reg);
  color: var(--grey-dark-color);
  font-size: 14px;
}
  
tbody tr:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

tbody td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tbody td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.cust-name {
  display: flex;
  flex-wrap: nowrap;
}

.cust-email {
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.received {
  color: var(--teal-medium-color);
  font-family: var(--font-bold);
}

.shared {
  color: var(--gold-dark-color);
  font-family: var(--font-bold);
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0px;
  border-radius: 8px;
  font-size: 0.9em;
  white-space: nowrap;
  color: white;
}

.status.closed-won {
  background-color: var(--teal-light-color);

}

.status.closed-lost {
  background-color: pink;
}

.status.in-negotiation {
  background-color: yellow;
}

.status.qualified {
  background-color: mediumseagreen;
}

.status.contracted {
  background-color: mediumpurple;
}

.status.new {
  background-color: mediumturquoise;
}

.status .drop-icon {
  fill:white
}

.partners {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}