
.content-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 0px 20px;
    padding-right: 8px;
    background-color: #DFE3EA;
    border-right: 1px solid rgba(0, 0, 0, 0.1); /* Light bottom border */
    position: relative;
    border-top-left-radius: 8px;
}

.content-header h1 {
    font-family: var(--font-extraBold);
    color: var(--grey-dark-color);
    font-size: clamp(24px, 2.2vw, 34px);
}


.header-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 15vw;
    position: relative;
    background-color: transparent;
}

.header-tabs p {
    margin: 0;
    padding: 0;
    color: rgb(117, 119, 122);
}

.content-header .delete-lead {
    position: absolute;
    top: calc(50% - 10px);
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
}

.content-header .delete-lead.active {
    cursor: pointer;
}

.content-header .delete-lead .delete-icon {
    fill: lightgray;
    width: 20px;
    height: 20px;    
}

.content-header .delete-lead span {
    color: lightgray;
    font-family: var(--font-reg);
    font-size: 13px;
}

.content-header .delete-icon.active {
    fill: var(--teal-medium-color);
}

.content-header .delete-lead span.active {
    color: var(--teal-medium-color);
}

.header-tab {
    padding: 8px 10px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-family: var(--font-regular);
    position: relative;
    transition: color 0.3s;
    color: var(--grey-dark-color);
    background-color: transparent;
    text-align: left;
    border-radius: 7px;
}

.header-tab.active {
    font-family: var(--font-bold);
    background-color: var(--grey-light-color);
}


@media (max-width: 768px) {
    .content-header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        padding: 0;
    }

    .content-header h1 {
        width: 100%;
        align-self: stretch;
        padding-left: 7%;
        margin-bottom: 0;
    }

    .content-header .header-tabs {
        width: 100%;
    }

    .content-header .delete-lead {
        top: 25px;
        right: 20px;
    }

    .content-header .delete-lead span {
        display: none;
    }
}