
.content-header {
    display: flex;
    height: 0px;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 20px;
    background-color: var(--background-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Light bottom border */
    position: relative;
}

.content-header h1 {
    font-family: var(--font-extraBold);
    color: var(--grey-dark-color);
    font-size: clamp(24px, 2.2vw, 34px);
    width: 20%;
}


.header-tabs {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 40vw;
    position: relative;
    background-color: transparent;
}

.content-header .delete-lead {
    position: absolute;
    top: calc(50% - 10px);
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
}

.content-header .delete-lead.active {
    cursor: pointer;
}

.content-header .delete-lead .delete-icon {
    fill: lightgray;
    width: 20px;
    height: 20px;    
}

.content-header .delete-lead span {
    color: lightgray;
    font-family: var(--font-reg);
    font-size: 13px;
}

.content-header .delete-icon.active {
    fill: var(--teal-medium-color);
}

.content-header .delete-lead span.active {
    color: var(--teal-medium-color);
}

.header-tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 14px;
    font-family: var(--font-regular);
    position: relative;
    transition: color 0.3s;
    color: var(--grey-dark-color);
}

.header-tab.active {
    font-family: var(--font-bold);
}

.header-tabs .header-slider {
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 3px;
    background-color: var(--teal-medium-color);
    transition: all 0.3s ease;
    z-index: 1;
    border-radius: 2px;
  }