.contact-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.contact-section .contact-content {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    padding-left: 8%;
    padding-right: 8%;
    gap: 4%;
}

.contact-section .contact-content .contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.contact-section .contact-content .contact-info h2 {
    font-family: var(--font-extraBold);
    font-size: var(--font-size-l);
    color: var(--grey-dark-color);
    margin-bottom: 10px;
}

.contact-section .contact-content .contact-info p {
    font-family: var(--font-light);
    font-size: var(--font-size-m);
    color: var(--grey-dark-color);
    margin-bottom: 10px;
}

.contact-section .contact-content .contact-form {
    flex: 1;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.contact-section .contact-content .contact-form input,
.contact-section .contact-content .contact-form textarea {
    width: 100%;
    padding: 1% 2%;
    margin-top: 7px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: var(--font-size-m);
    font-family: var(--font-light);
    background-color: var(--grey-light-color);
}

.contact-section .contact-content .contact-form .btn {
    margin-top: 10px;
    width: 30%;
    padding: 5px;
    background-color: var(--teal-dark-color);
    color: white;
    font-size: var(--font-size-m);
    font-family: var(--font-regular);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-section .contact-content .contact-form .btn:hover {
    background-color: var(--teal-medium-color);
}

.contact-section .contact-image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

.contact-section .contact-image img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    object-fit: cover;
    opacity: 15%;
}

@media (max-width: 768px) {
    .contact-section .contact-content {
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }
    .contact-section .contact-content .contact-info {
        max-width: 400px;
    }
}