
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content .content-detail {
    display: flex;
    flex: 1;
    padding-left: 0px;
    background-color: var(--grey-light-color);
    overflow: auto;
    padding-bottom: 0px;
}