
.content-detail {
    display: flex;
    flex-direction: column;
}

.subheader {
    display: flex;
    align-content: center;
    text-align: center;
}

.subheader h2 {
    font-size: clamp(15px, 1.5vw, 25px);
    font-family: var(--font-bold);
    color: grey;
    align-self: center;
}

.subheader p {
    font-size: clamp(12px, 1.2vw, 20px);
    font-family: var(--font-regular);
    color: grey;
    align-self: center;
    padding-left: 10px;
}

.partner-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 15px;
    width: 100%;
    padding: 0px;
}

.content-detail .no-partners {
    font-family: var(--font-regular);
    color: var(--grey-dark-color);
}
