.circle-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
    border-radius: 50%;
    background-color: #d6b8eb;
    color: white; /* Text color */
    font-size: 13px; /* Adjust font size as needed */
    font-family: var(--font-bold);
    text-transform: uppercase; /* Ensure initials are uppercase */
  }
  