footer {
    background-color: var(--grey-light-color);
    padding: 10px 20px;
    z-index: 1000;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo img {
    height: 40px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-nav ul li {
    margin-left: 30px;
}

.footer-nav ul li a {
    font-family: var(--font-regular);
    font-size: clamp(12px, 1.3vw, 20px);
    letter-spacing: 0.5px;
    text-decoration: none;
    color: var(--grey-dark-color);
}

@media (max-width: 768px) {
    .footer-nav .nav-item {
        display: none;
    }
}
