/* General card styles */
.cust-card {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Avatar styles */
  .cust-card .avatar {
    width: 80px;
    height: 80px;
    background-color: #d6b8eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
  }
  
  .cust-card .avatar .initials {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .cust-card .details {
    align-self: stretch;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* Input field styles */
  .cust-card .details h3 {
    margin: 1px 0;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: var(--grey-dark-color);
    background-color: lightgray;
  }
  
  .cust-card .details h3:focus {
    outline: none;
  }

  .cust-card #name {
    font-family: var(--font-bold);
    font-size: 14px;
  }

  .cust-card #email {
    font-family: var(--font-light);
  }

  input#phone {
    font-family: var(--font-bold);
    background-color: #d6b8eb;
    padding: 2px;
    margin: 0 20%;
    color: white;
  }

  input#phone::placeholder {
    color: white;
  }
  